
/*!Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Cabin:wght@600&display=swap');


/*!Reset*/
*{margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    }

.header{
    background-image: url(../img/Balanza\ Justicia.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height: 140px;
    position: sticky;
    top: 0%;
    z-index: 100;
    padding: 25px;
    margin:auto;
    border-radius: 15px;
}
.header a:hover{
    font-weight: bold;
    background-color: rgb(235, 228, 134);
    box-shadow: 2px 2px 2px 2px;
    border-radius: 2em;
}
.nav-logo{
    width: 50px;
    height: 50px;
}

.container-fluid{
    background-color: goldenrod;
}





/*!..footer..*/
.footer{ 
    border-radius: 15px;
    background-color: goldenrod;
    width: auto;
    height:auto ;
    margin-top: 20px;

}
.contenido-footer{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    
    
}
.footer div h2{
    padding-right: 100px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.footer div div h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: lowercase;
    text-decoration: solid;
}
.footer div div ul{
    padding-right: 50px;
}
.footer div div a img{ 
    padding: right 5px;
    width: 30px;
    height: 30px;
    
    
}





/*!..Contacto..*/




.background-form{ 
    background-image: url(../img/Consulta\ de\ abogabogados\ 2.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    margin:0;
    

}
.contacto{
    text-align: center;
    text-transform:uppercase;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}
.form-container{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    background-size:  200px;
    background-position:center;
    margin: 70px;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    text-align: center;
    
}

.form-item{
    width: 100%;
    background: none;
    color:black;
    padding: .6em 3em;
    border-bottom: 1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: end;
    justify-items: center;
}

.mapa{
    background-color:black;
}
.mapa div {
    color: goldenrod;
    display: flex;
    justify-content: center;
    margin: 15px;
    align-items: center;
}

.mapa h2{
    padding-right: 80px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

/*!..Nosotros..*/










/*!..Practicas..*/

.ap-img{
    display: flex;
    background-image: url(../img/Balanza\ Justicia\ AP.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: static;
    margin-top: 20px;
    border-radius: 15px;
    
    
}

.ap-text h1{
        display: flex;
        color: goldenrod;
        font-family:'Times New Roman', Times, serif;
        font-style: normal;
        width: 1200px;
        font-weight: 600;
        margin-top: 200px;
        margin-left: 90px;
}

.ap-text p{
        display: flex;
        font-family: 'Times New Roman', Times, serif;
        width: 700px;
        font-style: italic;
        margin-left: 90px;
        font-weight: bold;
}

img {

    height: 400px;
    width: 750px;
    object-fit: cover;
    
    }

.text-design{
    
    text-align: center;
}

.text-design h1{
    margin-top: 30px;
    font-weight:bold;
}

.text-design p{
    margin-top: 15px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-style: italic;
    
}

.grid-container-dp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(auto-fill);
    row-gap: 10px;
    
    margin-top: 20px;
    overflow: hidden;
    border-radius: 15px;
}

@media (max-width:1261px){
    
    .icons a img{
        display: none;
    }
    .footer div h2{
        padding-right: 80px;
        font-size: 30px;
        
    }
    .footer div div ul{
        padding-right: 20px;

    } 

}
@media (max-width:1120px){
    .footer div h2{
        padding-right: 30px;
        padding-left: 15px;
        font-size: 25px;

    }
    .footer div div h3{
        font-size: 20px;
    }
    .footer div div ul{
        padding-right: 20px;

    } 
}


@media (max-width: 500px) {
    .grid-practicas{
        display: grid;
        width: 100vw;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .header{
        grid-area: header;
        width: 100vw;
    }
    .ap-text h1 {
        width: 100vw;
    }
    .ap-img{
        width: 100vw;
    }
    .main{
        grid-area: main;
        width: auto;
    }
    .text-design p{
        font-size: 10px;
        color: black;
    }
    .grid-container-dp{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:repeat(auto-fill);
        row-gap: 10px;
        
        margin-top: 20px;
        overflow: hidden;
        border-radius: 15px;
    }
    img{
        width: 200px;
    }

    .footer{
        grid-area: footer;
    width: auto;
    }
    .icons{
        display: none;
    }
}


